logging:
  level: warn
  name: <%= log_name %>
  streams:
    - host: <%= logstash_host %>
      port: <%= logstash_port %>
      type: gelf
    - level: warn
      path: <%= log_file %>
      type: file
metrics:
  host: <%= metrics_host %>
  name: <%= metrics_name %>
  port: <%= metrics_port %>
  type: statsd
num_workers: <%= num_workers %>
services:
  - conf:
      allowedDomains:
        https:
          - mediawiki.org
          - wikibooks.org
          - wikidata.org
          - wikimedia.org
          - wikimediafoundation.org
          - wikinews.org
          - wikipedia.org
          - wikiquote.org
          - wikisource.org
          - wikiversity.org
          - wikivoyage.org
          - wiktionary.org
      cors: "*"
      geoshapes:
        allowUserQueries: true
        database: gis
        host: localhost
        lineTable: planet_osm_line
        password: <%= geoshapes_password %>
        polygonTable: planet_osm_polygon
        table: planet_osm_polygon
        user: <%= geoshapes_user %>
      mwapi_req:
        body: "{{ default(request.query, {}) }}"
        headers:
          host: "{{request.params.domain}}"
          user-agent: "{{user-agent}}"
        method: post
        uri: <%= mwapi %>
      port: <%= port %>
      proxy: <%= proxy %>
      restbase_req:
        body: "{{request.body}}"
        headers: "{{request.headers}}"
        method: "{{request.method}}"
        query: "{{ default(request.query, {}) }}"
        uri: "<%= restbase %>/{{domain}}/v1/{+path}"
      sources: <%= conf_sources %>
      modules:
      - "tilelive-bridge"
      - "tilelive-vector"
      - "@kartotherian/autogen"
      - "@kartotherian/babel"
      - "@kartotherian/cassandra"
      - "@kartotherian/layermixer"
      - "@kartotherian/overzoom"
      - "@kartotherian/postgres"
      - "@kartotherian/substantial"
      - "tilejson"
      variables:
        cassandra-pswd: <%= cassandra_password %>
        cassandra-servers:
        <% for server in cassandra_servers -%>
          - <%= server %>
        <% endfor -%>
        cassandra-user: <%= cassandra_user %>
        osmdb-pswd: <%= osmdb_password %>
        osmdb-user: <%= osmdb_user %>
      requestHandlers:
      - "@kartotherian/geoshapes"
      - "@kartotherian/maki"
      - "@kartotherian/snapshot"
    entrypoint: <%= entrypoint %>
    module: <%= module %>
    name: <%= name %>
worker_heap_limit_mb: <%= worker_heap_limit_mb %>
worker_heartbeat_timeout: <%= worker_heartbeat_timeout %>
