logging:
  level: warn
  name: <%= log_name %>
  streams:
    - level: warn
      path: <%= log_file %>
      type: file
    - type: syslog
      host: localhost
      port: <%= rsyslog_port %>
      prefix: '@cee: '
      name: node
metrics:
  host: <%= metrics_host %>
  name: <%= metrics_name %>
  port: <%= metrics_port %>
  type: statsd
num_workers: <%= num_workers %>
services:
  - conf:
      allowedDomains: <%= allowed_domains %>
      cors: "*"
      geoshapes:
        wikidataQueryService: <%= wikidata_query_service %>
        allowUserQueries: true
        database: gis
        host: localhost
        lineTable: wikidata_relation_members
        password: <%= geoshapes_password %>
        polygonTable: wikidata_relation_polygon
        table: planet_osm_polygon
        user: <%= geoshapes_user %>
        poolSize: <%= geoshapes_pool_size %>
        enableGeopoints: <%= enable_geopoints|default("false") %>
        coordinatePredicateId: "wdt:P625"
        userAgentContact: "the WMF Content Transform Team (https://www.mediawiki.org/wiki/Content_Transform_Team)"
      mwapi_req:
        body: "{{ default(request.query, {}) }}"
        headers:
          host: "{{request.params.domain}}"
          user-agent: "{{user-agent}}"
        method: post
        uri: <%= mwapi %>
      port: <%= port %>
      restbase_req:
        body: "{{request.body}}"
        headers: "{{request.headers}}"
        method: "{{request.method}}"
        query: "{{ default(request.query, {}) }}"
        uri: "<%= restbase %>/{{domain}}/v1/{+path}"
      sources:
        # Tegola backend - main source
        http-tegola:
          uri: <%= tegola_uri %>
          setInfo:
            maxzoom: 15
            vector_layers:
              - id: landuse
              - id: waterway
              - id: water
              - id: aeroway
              - id: building
              - id: road
              - id: admin
              - id: country_label
              - id: place_label
              - id: poi_label
              - id: road_label

        # Tegola backend - secondary source
        http-tegola-secondary:
          uri: <%= tegola_secondary_uri %>
          setInfo:
            maxzoom: 15
            vector_layers:
              - id: landuse
              - id: waterway
              - id: water
              - id: aeroway
              - id: building
              - id: road
              - id: admin
              - id: country_label
              - id: place_label
              - id: poi_label
              - id: road_label

        # Mirror requests to tegola
        mirror:
          uri: mirror://
          params:
            source: { ref: http-tegola }
            secondarySource: { ref: http-tegola-secondary }
            enableMirror: <%= enable_mirror %>
            loadBalancer:
              bucketSize: 1000 # milliseconds
              totalBuckets: 10 # number of buckets in the histogram
              threshold: <%= mirror_threshold %>

        # expands name_ json blob into several name_{code} tags
        genall:
          uri: json2tags://
          params:
            source: {ref: mirror}
            tag: name

        # OSM PBF source
        osm-pbf:
          public: true
          formats: [pbf]
          uri: overzoom://
          params:
            source: {ref: genall}
            maxzoom: 19
          overrideInfo:
            attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia maps</a> | Map data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            tiles: ['https://maps.wikimedia.org/osm-pbf/{z}/{x}/{y}.pbf']

        # creates the 'name' attribute based on name_* attributes and lang param
        babel:
          uri: babel://
          params:
            source: {ref: osm-pbf}
            tag: name
            combineName: false
            defaultLanguage: local

        # OSM map with international labeling
        osm-tegola:
          public: true
          formats: [png,json,headers,svg,jpeg]
          scales: [1.3, 1.5, 2, 2.6, 3]
          maxzoom: 19
          static: true
          maxheight: 2048
          maxwidth: 2048
          uri: tmstyle://
          yaml:
            npm: ['<%= style_location %>', "project.yml"]
          yamlSetParams:
            source: {ref: babel}
          overrideInfo:
            attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia maps</a> | Map data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            tiles: ['https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png']
          defaultHeaders:
            Cache-Control: 'public, max-age=900, s-maxage=86400'

        # OSM map with international labeling - will be used as default
        osm-intl:
          public: true
          formats: [png,json,headers,svg,jpeg]
          scales: [1.3, 1.5, 2, 2.6, 3]
          maxzoom: 19
          static: true
          maxheight: 2048
          maxwidth: 2048
          uri: tmstyle://
          yaml:
            npm: ['<%= style_location %>', "project.yml"]
          yamlSetParams:
            source: {ref: babel}
          overrideInfo:
            attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia maps</a> | Map data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            tiles: ['https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png']
          defaultHeaders:
            Cache-Control: 'public, max-age=900, s-maxage=86400'

        # OSM map without any labels
        osm:
          public: true
          formats: [png,json,headers,svg,jpeg]
          scales: [1.3, 1.5, 2, 2.6, 3]
          maxzoom: 19
          static: true
          maxheight: 2048
          maxwidth: 2048
          uri: tmstyle://
          yaml:
            npm: ['<%= style_location %>', "project.yml"]
          yamlSetParams:
            source: {ref: osm-pbf}
          yamlExceptLayers: ['country_label', 'place_label', 'poi_label']
          overrideInfo:
            attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia maps</a> | Map data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            tiles: ['https://maps.wikimedia.org/osm/{z}/{x}/{y}.png']
          defaultHeaders:
            Cache-Control: 'public, max-age=900, s-maxage=86400'

      modules:
      - tilelive-tmstyle
      - tilelive-http
      - ../lib/babel
      - ../lib/overzoom
      - "@kartotherian/tilelive-vector"
      - "@mapbox/tilejson"
      variables:
        osmdb-pswd: <%= osmdb_password %>
        osmdb-user: <%= osmdb_user %>
      requestHandlers:
      - ../lib/geoshapes
      - ../lib/maki
      - ../lib/snapshot
    entrypoint: <%= entrypoint %>
    module: <%= module %>
    name: <%= name %>
worker_heap_limit_mb: <%= worker_heap_limit_mb %>
worker_heartbeat_timeout: <%= worker_heartbeat_timeout %>
